html{
  font-size: 16px;
}

/* Redimensi칩n de fuente utilizando rem */
p{
  font-size: 1rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.3rem;
}

h5{
  font-size: 1.15rem;
}

h6{
  font-size: 1.05rem;
}
/**************************/

/* clases predefinidas */
* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #f6f6f6;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Dise침o de columnas */
.column-1{
  width: 100%;
  float: left;
}

.column-2{
  width: 50%;
  float: left;
}

.column-3{
  width: 33.33%;
  float: left;
}

.column-4{
  width: 25%;
  float: left;
}



/* Otras clases */
/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.section-intro {
    height: 820px;
    background-image: url(../img/8.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}

.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}



/*--Cards--*/

.container-card {
  width: 1090px;
  min-width: 600px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .card {
    width: 330px;
    height: 430px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;
  }
  .container-card .card:nth-child(2) {
    margin: 0 50px;
  }
  .container-card .card:hover {
    top: -15px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

@media only screen and (max-width: 800px) {
  /* column-4 pasar치 de tener 25% a 50% */
  .column-4{
      width: 50%;
  }
  .section-intro {
    height: 500px;
  }

.about-section p,
.about-section h3 {
    font-size: 20px;
}

.carousel-inner {
    height: auto;
}

.row-flex {
    display: flex;
    flex-direction: column;
}
}

@media only screen and (max-width: 600px) {
  /* column-4 pasar치 de tener 25% a 50% */
  .column-4{
      width: 100%;
  }
  .section-intro {
    height: 300px;
}

.about-section {
    padding: 30px;
}

.section-intro h1 {
    font-size: 2em;
}

.about-section p,
.about-section h3 {
    font-size: 15px;
}

.carousel-inner {
    height: auto;
}

.row-flex {
    display: flex;
    flex-direction: column;
}

.row-flex h3 {
    font-size: 25px;
    text-align: center;
}

.form-group p {
    font-size: 15px;
}

.opening-time p span,
.contact-adress p span {
    font-size: 15px;
    text-align: center;
}
.nav-flex-row li a{
  font-size: 14px;
}
}