<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6322aa5511.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/styles.css">
    <title>Food-Truck</title>
</head>
<body>
    <nav>
        <ul class="nav-flex-row">
          <li class="nav-item">
            <a href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="./bebidas.html">Bebidas</a>
          </li>
          <li class="nav-item">
            <a href="./frío.html">Frío</a>
          </li>
          <li class="nav-item">
            <a href="./caliente.html">Caliente</a>
          </li>
        </ul>
      </nav>
      <div class="row-menu">
        <div class="container-card">
            <div class="column-4">
                <div class="card">
                    <img src="../img/frio1.jpg">
                    <h4>Nature</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias facere.</p>
                    <a href="#">Learn more</a>
                  </div>
            </div>
            <div class="column-4">
                <div class="card">
                    <img src="../img/frio2.jpg">
                    <h4>Nature</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias facere.</p>
                    <a href="#">Learn more</a>
                  </div>
            </div>
            <div class="column-4">
                <div class="card">
                    <img src="../img/frio3.jpg">
                    <h4>Nature</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias facere.</p>
                    <a href="#">Learn more</a>
                  </div>
            </div>
            <div class="column-4">
                <div class="card">
                    <img src="../img/frio4.jpg">
                    <h4>Nature</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias facere.</p>
                    <a href="#">Learn more</a>
                  </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>