<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6322aa5511.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/styles.css">
    <title>Food-Truck</title>
</head>
<body>
    <div class="header">
        <div class="ct" id="t1">
            <div class="ct" id="t2">
              <div class="ct" id="t3">
                <div class="ct" id="t4">
                   <div class="ct" id="t5">
                    <nav>
                        <h1>Food-Truck</h1>
                        <div class="onglets">
                            <a href="../index.html">Inicio</a>
                            <a href="./bebidas.html">Bebidas</a>
                            <a href="./caliente.html">Caliente</a>
                            <a href="./frío.html">Frío</a>
                        </div>
                    </nav>
                    <div class="responsive">
                        <img src="../img/logo.png" alt="" >
                    </div>
        <div class="container">
            <div class="shadow"></div>
            <div class="coche">
                <div class="ruedas"></div>
                <div class="ventanas"></div>
                <div class="linea"></div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="ruedas3"></div>
                <div class="ruedas7"> </div>
                <div class="ice3"></div>
                <div class="ice7"></div>
                <div class="ice9"></div>
                <div class="ice"></div>
            </div>
        </div>
        <h1>Menú:</h1>
    </div>
    <div class="row-menu">
        <div class="column-4">
            <div class="card">
                <img class="card-img-top" src="../img/frio1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="btn btn-primary">34 €</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="card">
                <img class="card-img-top" src="../img/frio2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="btn btn-primary">34 €</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="card">
                <img class="card-img-top" src="../img/frio3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="btn btn-primary">34 €</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="card">
                <img class="card-img-top" src="../img/frio4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="btn btn-primary">34 €</p>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>